

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <title>Document</title>
</head>
<body>

    <div style="display: inline-block;">
        <img class="card-img-top" src="{{ selected_item.image_url }}" alt="Card image cap"> <br>
         {{selected_item.name}} <br>
         {{selected_item.description}}

    
    
         <img class="card-img-top" src="{{ item.image_url }}" alt="Card image cap"> <br>
         {{item.name}} <br>
    </div>
</body>
</html>